# train_test_split
is a method where we split the whole data into two parts - Training and Testing.

In [3]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv("carprices.csv")
df.head()

   Mileage  Age(yrs)  Sell Price($)
0    69000         6          18000
1    35000         3          34000
2    57000         5          26100
3    22500         2          40000
4    46000         4          31500

In [5]:
X = df[['Age(yrs)', 'Mileage']]
X.head()

   Age(yrs)  Mileage
0         6    69000
1         3    35000
2         5    57000
3         2    22500
4         4    46000

In [6]:
Y = df['Sell Price($)']
Y.head()

0    18000
1    34000
2    26100
3    40000
4    31500
Name: Sell Price($), dtype: int64

In [7]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [8]:
reg = LinearRegression()
reg.fit(X_train, Y_train)

LinearRegression()

In [9]:
reg.predict(X_test)

array([26347.34704508, 25918.49557614, 15378.14163358, 22255.27364998])

In [10]:
reg.score(X_test, Y_test)

0.8843495948379158