# Linear Regression With Multiple Variables

#### Here, the predicted value will depend on two or more varaibles

In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [2]:
df = pd.read_csv('homeprices.csv')

df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

We can see that in the 'bedrooms' column, there is one NaN value. It is really __important__ to have NO NaN values in our data.

In [9]:
bedroom_median = df['bedrooms'].median()

df['bedrooms'] = df['bedrooms'].fillna(bedroom_median)

df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [10]:
reg = linear_model.LinearRegression()

In [12]:
# We have to fit the model w.r.t area, bedrooms and price
reg.fit(df[['area', 'bedrooms', 'age']], df['price'])
# Here, X --> area, bedrooms, age and Y --> price

LinearRegression()

In [13]:
reg.predict([[2500, 3, 5]])

c:\Users\MSI\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([555487.15741139])

In [14]:
reg.predict([[3600, 3, 1]])

c:\Users\MSI\AppData\Local\Programs\Python\Python37\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([691682.71518227])